<%= render "shared/back_button" %>
<div class="container">
  <div class="m-3">
    <% if @offers.first %>
      <div class="d-flex">
        <h1> <%= @offers.first.subject.capitalize %></h1>
        <h1 class="fw-light"> (<%= @offers.first.level.capitalize %>)</h1>
      </div>
    <% else %>
    <h1>No offers regarding your search</h1>
    <% end %>
  </div>
<br>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= link_to new_offer_appointment_path(offer), class:"text-decoration-none color-black" do %> <!--new_offer_appointment_path(offer) -->
          <div class="card ">
              <%= image_tag "subject_pics/#{offer.subject.downcase}_pics/#{rand(1..5)}.png", class: 'image-fluid card-image' %>
            <div class="card-info d-flex justify-content-around mt-3">
              <div class="cut-text">
                <h2><%= offer.user.first_name %></h2>
                <p><%= offer.description %></p>
              </div>
              <div class="icon-size info-right">
                <div id="info-sizing-price">
                  <p><%= image_tag("logo/euro.png") %> <%= offer.price %></p>
                </div>
                <div id="info-sizing-time">
                  <% if offer.appointments.first %>
                    <% first_a = offer.appointments.first %>
                    <% duration = "#{(first_a.end_time - first_a.start_time).round / 60}" %>
                  <% else %>
                    <%= duration = "-" %>
                  <% end %>
                  <p><%= image_tag("logo/time.png") %> <%= duration %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
