<div class="container">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :subject %>
    <%= f.input :level, collection: [ "beginner", "intermediate", "advanced" ] %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
