<%= render "shared/back_button" %>
<div class="container">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :subject, collection: [ "chemistry", "english", "german", "history", "mathematics", "physics" ] %>
    <%= f.input :level, collection: [ "beginner", "intermediate", "advanced" ] %>
    <%= f.input :price %>
    <%= f.input :description %>
    <div class="mb-3">
      <label for="start_date">Start date</label>
      <input type="date"
        name="start_date" value=<%= DateTime.now%>
        min=<%= DateTime.now%> max=<%= DateTime.now + 28.days%>
      >
    </div>
    <div class="mb-3">
      <label for="duration">Duration in minutes</label>
      <input type="integer" name="duration">
    </div>
    <div class="mb-3">
      <p id="time">
        <%= label_tag "hours", "Time" %>
        <%= hour_selector("hours", @appointment) %>
      </p>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
