<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">You as student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">You as teacher</a>
  </li>
</ul>

<div>
  <% @appointments.each do |appointment| %>
    <h4><%= appointment.offer.subject %></h4>
    <p><%= appointment.offer.user.first_name %> <%= appointment.offer.user.last_name %></p>
    <p><%= appointment.offer.price %> €</p>
    <p><%= appointment.start_time %></p>
    <p><%= appointment.end_time %></p>
  <% end %>
</div>
